<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.simple.checker">

    <application>
        <provider
            android:name=".CheckerInitiator"
            android:authorities="${applicationId}.hegui-checker-initiator"
            android:exported="false"
            android:multiprocess="true" />
    </application>
</manifest>